In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("base_ajustada.xlsx")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9952 entries, 0 to 9951
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              9952 non-null   object
 1   vote_average       9952 non-null   float64
 2   vote_count         9952 non-null   int64
 3   revenue            9952 non-null   int64
 4   budget             5481 non-null   float64
 5   popularity         9952 non-null   float64
 6   runtime            9845 non-null   float64
 7   genre              9952 non-null   object
 8   language           9952 non-null   object
 9   country            9952 non-null   object
 10  revenue_mill       9952 non-null   float64
 11  budget_mill        5481 non-null   float64
 12  genre_random       9832 non-null   object
 13  country_random     9952 non-null   object
 14  language_adj       9952 non-null   object
 15  country_continent  9922 non-null   object
dtypes: float64(6), int64(2), object(8)
memory usage: 1.2+ MB

In [6]:
df.dropna().shape

(5454, 16)

In [7]:
df.dropna().shape[0]

5454

In [8]:
df_completa = df.dropna()

In [9]:
df_completa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5454 entries, 0 to 9950
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              5454 non-null   object
 1   vote_average       5454 non-null   float64
 2   vote_count         5454 non-null   int64
 3   revenue            5454 non-null   int64
 4   budget             5454 non-null   float64
 5   popularity         5454 non-null   float64
 6   runtime            5454 non-null   float64
 7   genre              5454 non-null   object
 8   language           5454 non-null   object
 9   country            5454 non-null   object
 10  revenue_mill       5454 non-null   float64
 11  budget_mill        5454 non-null   float64
 12  genre_random       5454 non-null   object
 13  country_random     5454 non-null   object
 14  language_adj       5454 non-null   object
 15  country_continent  5454 non-null   object
dtypes: float64(6), int64(2), object(8)
memory usage: 724.4+ KB

In [10]:
df_completa.to_excel("base_completa.xlsx", index=False)